//GENERALS PAGES

@use "./generals/variables" as *;
@use "./generals/normailize" as *;
@use "./generals/mixins" as *;

//COMPONENTS PAGES
@use "./components/header";
@use "./components/banner";
@use "./components/newarrivals";
@use "./components/topselling";
@use "./components/browse";