//GENERALS PAGES

@import "./generals/variables";
@import "./generals/normailize";
@import "./generals/mixins";

//COMPONENTS PAGES
@import "./components/header";
@import "./components/banner";
@import "./components/newarrivals";
@import "./components/topselling";
@import "./components/browse";