@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: transparent;
}

button {
    background-color: transparent;
    border: none;
}

:root {
    --font-family: 'Satoshi', sans-serif;
    --secund-family: "Integral CF Regular";

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: var(--font-family);
}