@use "../generals/mixins" as *;
.browse {
    margin-bottom: 80px;
    &__wrap {
        border-radius: 40px;
        background: #f0f0f0;
        padding: 70px 60px;
    }

    &__title {
        font-family: var(--secund-family);
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #000;
        margin-bottom: 64px;
    }

    &__contents {
        @include d-flex(unset, unset, 20, unset);
        flex-wrap: wrap;
    }

    &__casual {
        width: calc(40% - 20px);
        border-radius: 20px;
        height: auto;
        overflow: hidden;
        position: relative;

        &-img {
            border-radius: 20px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        &-title {
            position: absolute;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            color: #000;
            top: 25px;
            left: 35px;
        }
    }

    &__formal {
        border-radius: 20px;
        width: calc(60% - 20px);
        overflow: hidden;
        position: relative;

        &-img {
            border-radius: 20px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &-title {
            position: absolute;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            color: #000;
            top: 25px;
            left: 35px;
        }

    }

    &__party {
        border-radius: 20px;
        width: calc(60% - 20px);
        overflow: hidden;
        position: relative;

        &-img {
            border-radius: 20px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &-title {
            position: absolute;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            color: #000;
            top: 25px;
            left: 35px;
        }
    }

    &__gym {
        width: calc(40% - 20px);
        border-radius: 20px;
        height: auto;
        overflow: hidden;
        position: relative;

        &-img {
            border-radius: 20px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        &-title {
            position: absolute;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            color: #000;
            top: 25px;
            left: 35px;
        }
    }
}