.newarrivals {
    margin-top: 72px;
    @include media(666){
        margin-top: 50px;
    }
    &__wrap {
        @include d-flex(unset, unset, 0, column);
    }

    &__title {
        text-align: center;
        font-family: var(--secund-family);
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #000;
        margin-bottom: 55px;
        @include media(666){
            font-size: 32px;
            margin-bottom: 32px;
        }
    }

    &__products {
        @include d-flex(unset, center, 20, unset);
        position: relative;
        margin-bottom: 50px;
        @include media(830){
            flex-wrap: wrap;
            justify-content: center;
        }
       
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color:rgba(0, 0, 0, 0.3);
            bottom: -220px;
            margin-bottom: 20px;
        }
    }

    &__product {
        @include d-flex(unset, unset, 16, column);
        border-radius: 20px;
        @include media(830){
            gap: 12px;
        }
        @include media(666){
            width: calc(50% - 20px);
            gap: 10px;
        }
        @include media(500){
            &:nth-child(3){
                display: none;
            }
            &:nth-child(4){
                display: none;
            }
            width: calc(50% - 10px);
        }
        &-img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            @include media(450){
                width: 100%;
                height: 185px;
                overflow: hidden;

            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-main {
            @include d-flex(unset, unset, 6, column);
            @include media(666){
                gap: 4px;
            }
           
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            color: #000;
            @include media(1083){
                font-size: 18px;
            }
            @include media(987){
                font-size: 16px;
            }
        }

        &-stars {
            @include d-flex(center, unset, 5, unset);
            svg{
                @include media(987){
                    width: 15px;
                    height: 15px;
                }
            }
        }

        &-rangs {
            font-weight: 400;
            font-size: 14px;
            color: #000;
            @include d-flex(center, unset, 12, unset);
            @include media(500){
                font-size: 12px;
            }
        }

        &-sena {
            @include d-flex(center, unset, 10, unset);
            font-weight: 700;
            font-size: 24px;
            color: #000;
            @include media(987){
                font-size: 20px;
            }
            @include media(500){
                font-size: 18px;
            }

            span {
                opacity: 0.2;
                text-decoration: line-through;
            }

            small {
                @include d-flex(center, center, 0, unset);
                border-radius: 62px;
                padding: 6px 14px;
         
                background: rgba(255, 51, 51, 0.1);
                font-weight: 500;
                font-size: 12px;
                color: #f33;
                @include media(987){
                    padding: 6px 12px;
                }
                @include media(500){
                    font-size: 10px;
                }
            }
        }
    }

    &__button {
        position: absolute;
        bottom: -150px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 62px;
        padding: 16px 54px;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        margin: 20px 0;
        @include media(500){
            bottom: -120px;
            width: 100%;
            font-size: 14px;
        }
    }

}